* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; // 15px
}

body {
  font-family: "Poppins", sans-serif;
  background: $whitesmoke;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: 0 auto;
}

h2 {
  color: $dark-blue;
  font-weight: 400;
  margin: 3.2rem 0 0.8rem;
}

a {
  text-decoration: none;
}
